@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-6 text-primary">Dashbord</h1>
    <div class="d-flex" style="margin-bottom: 30px;">
        <div class="border-none bg-primary rounded p-2 m-2 box-shadow">
            <p  class="lead" style="color: rgb(146, 14, 146);">Top 3 Most Active Employees</p>
            <ol>
                <li class="small" style="color: white;">RAZANABARY Voahangy Lalao Josephine</li>
                <li class="small" style="color: white;">ANDRIAMAMINIAINA Rovatiana Lucia</li>
                <li class="small" style="color: white;">RAZAKAMANANA Rantosoa Lanja</li>
            </ol>
        </div>
        <div class="border-none bg-primary rounded p-2 m-2 box-shadow">
            <p  class="lead" style="color: rgb(146, 14, 146);">Number of Not Assigned Tasks</p>
            <span class="display-1" style="color: white; text-align: center;">15</span>
        </div>
        <div class="border-none bg-primary rounded p-2 m-2 box-shadow">
            <p  class="lead" style="color: rgb(146, 14, 146);">Number of Employees with no Tasks</p>
            <span class="display-1" style="color: white;">9</span>
        </div>
    </div>
    <div class="d-flex" style="margin-bottom: 20px;">
        <div style="margin-right: 15px;">
            <a href="#" class="text-decoration-none lead">Employees</a>
            <div class="bg-primary w-100" style="height: 5px;"></div>
        </div>
        <div>
            <a href="#" class="text-decoration-none lead">Tasks</a>
            <div class="bg-white w-100" style="height: 5px;"></div>
        </div>
    </div>
    <div style="overflow-x: auto; overflox-y: auto;">
        <table class="w-100">
            <thead class="bg-primary text-white">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>First Name</th>
                    <th>Contact</th>
                    <th>Adress</th>
                </tr>
            </thead>
            <tbody class="border">
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-002</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                <tr>
                    <td>Emp-001</td>
                    <td>RAZANABARY</td>
                    <td>Voahangy Lalao Josephine</td>
                    <td>+261345968741</td>
                    <td>ig 320 Ambalavato</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
